 a {
 color:blue;
 font-size:140%
} 



div{
	color:blue;
	text-align:center
}

 
h1 {
		color:blue;
		text-align:center
 
}

ul {
	 text-align: left;
	 color:red
	

}

.images {
	text-align: center;
}
 
html {
  background-image: url(http://storge.pic2.me/c/1360x800/809/5748e277670be.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 