 a {
 color:blue;
 font-size:140% ;
 text-align:center
} 


div{
	color:green;
	text-align:center
}
b{
   	color:red;
	text-align:center
}

p {
	text-align:center;
	
}
 
.images {
	text-align: center;
} 

.line {
	color:white 
}

.tovar {
	text-align:center
}

html {
  background-image: url(http://storge.pic2.me/c/1360x800/809/5748e277670be.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 